@import 'nav.css';

.header-section{
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../images/simg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-section .logo{
    height: 150px;
    display: block;
    margin: auto;
}

.header-section .sub-heading{
    margin-top: 10px;
    text-align: center;
    color: #000000;
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 300;
}


/* cards */
.product{
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.product-category{
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container{
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar{
    display: none;
}

.product-card{
    flex: 0 0 auto;
    width: 250px;
    height: 430px;
    margin-right: 40px;
}

.product-image{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.product-thumb{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.discount-tag{
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
   
}

.product-card:hover .card-btn{
    opacity: 1;
}
.card-btn:hover{
    background: #efefef;
}

.product-info{
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand{
    text-transform: uppercase;
    font-size: 20px;
}

.product-short-des{
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    font-size: 17px;
}
.price{
    font-weight: 900;
    font-size: 20px;
}

.actual-price{
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn, .nxt-btn{
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn{
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn{
    right: 0;
}

.pre-btn img, .nxt-btn img{
    opacity: 0.2;
}

.pre-btn:hover img, .nxt-btn:hover img{
    opacity: 1;
}

.collection-container{
    width: 100%;
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection{
    position: relative;
    /* height: 50%;  */
    height: 50vh;
}

.collection img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
}

.collection:nth-child(3){
    grid-column: span 2;
    /* height: 50%;  */
    height: calc(50vh - 10px); 
    margin-bottom: 10px;
}

.float {
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
  }
  
  .my-float {
    margin: 0; 
    transform: scale(1.75);
  }

        .icons-cont {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100vw;
            height: 30vh;
            margin-top: 50px;
            background-color:#ae887b;
          }
          
          .values-container {
            text-align: center;
            padding: 2rem;
          }
          
          .values-container h2 {
            font-size: 1.75rem;
            margin-bottom: 0.5rem;
            color: #ffffff;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
          }
          
          .values-list {
            list-style: none;
            padding: 10px;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
          }
          
          .values-list li {
            margin: 1rem;
            text-align: center;
            color: white;
          }
          
          .values-list li img {
            width: 60px;
            height: 60px;
            display: block;
            margin: 0 auto; 
            margin-bottom: 0.5rem;
            object-fit: cover;
            border-radius: 10px;
          }
          
          .values-list li span {
            font-size: 1rem;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            display: block;
          }